<launch>
<!-- 建图 -->
  <param name="use_sim_time" value="true"/>
  <arg name="mapping_mode"  default="gmapping" doc="opt: gmapping,cartographer"/>
  <arg name="rviz" default="true"/>

  <!-- 雷达数据融合  -->
  <include file="$(find chibot_slam)/launch/include/laser_double.launch">
      <arg name="if_double" value="true"/>
  </include>

  <!-- 启动APP一键保存地图功能  -->
  <!-- <node pkg="world_canvas_msgs" type="save" name="save_map" /> -->

  <!-- 开启gmapping建图算法  -->
  <group if="$(eval mapping_mode == 'gmapping')">
    <include file="$(find chibot_slam)/launch/include/algorithm_gmapping.launch" />
  </group>

   <!-- 开启cartographer建图算法  -->
  <group if="$(eval mapping_mode == 'cartographer')">
  <!--这个功能包的路径是：/opt/ros/melodic/share/cartographer_ros-->
  <!--<include file="$(find cartographer_ros)/launch/demo_revo_lds.launch"/>-->
    <include file="$(find chibot_slam)/launch/include/carto.launch" />
  </group>  

  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find chibot_slam)/rviz/slam.rviz" />
  </group>

</launch>
